<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <a href="javascript:" class="d-flex justify-content-center mt-3">
            SBOULA
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Sign up</b></h2>
                <p class="fs-4 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>
          
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" #firstName required />
                  <label>First Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" #lastName required />
                  <label>Last Name</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" #email required />
              <label>Email Address / Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" #password required />
              <label>Password</label>
            </div>
            <div class="form-floating mb-3">
              <select class="form-select" #role required>
                <option value="" disabled selected>Select Role</option>
                <option value="Marketing">Marketing</option>
                <option value="Commercial">Commercial</option>
                <option value="Logistic">Logistic</option>
                <option value="Quality">Quality</option>
              </select>
              <label>Role</label>
            </div>
            <div class="form-check mt-3">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked />
              <label class="form-check-label" for="customCheckc1">
                <h5>Agree with <span>Terms & Condition.</span></h5>
              </label>
            </div>
            <div class="d-grid mt-4">
              <button type="button" class="btn btn-secondary p-2" (click)="registerUser(firstName.value, lastName.value, email.value, password.value, role.value)">Sign Up</button>
            </div>
          </form>
          <h5 class="d-flex justify-content-center">
            <a> Already have an account? </a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
